<a href="https://colab.research.google.com/github/a-forty-two/DataSetsForML/blob/master/Probability_and_Outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A tossed coin has 2 outputs -> head or tail
So on a single toss, probability of head = no. of heads/total outcomes. 
p(head) = 1/2
p(tail) = 1/2
p(tossed_coin) = p(head) + p(tail) = 1

A card deck has 52 cards. 
So
p(heart_ace) = 1/52. 
p(a_card_drawn) = p(heart_king) + p(diamond_jacK).... = 1

In [2]:
# GUESS 
# There are 20 people in the room
# 16-> blue
# 3 -> red
# 1 -> white
# A new person walks in. ?
# 16/20 = 4/5
import random

def tossTheCoin():
  heads = 0
  if random.random() > 0.5:
    heads = 1
  return heads

def simulate(n): # n is no. of times to simulate, return the probability of heads 
  tosses = []
  for toss in range(n):
    result = tossTheCoin()
    tosses.append(result)
  return(sum(tosses)/n)



# 20 20.1 20.2 20.3 20.4 20.5 20.6... 21.... 21.1 .. 21.2... 21.3
#  2 4 6 8 10?]



print(simulate(10))
print(simulate(75))
print(simulate(100))
print(simulate(125))
print(simulate(1000))
print(simulate(10000))
print(simulate(1000000))

0.4
0.48
0.54
0.464
0.499
0.4941
0.500019

Let's get started with outlier detection. Our formula is Z-Score for outliers. If Z score is greater than 3 ( or less than -3), we assume such values to be outliers. 
Formula:   (x-mean)/std or (x-mu)/sigma

In [3]:
!ls

data.csv  sample_data

In [0]:
import pandas as pd
data = pd.read_csv('data.csv', header=0) # read fns in pandas return a ready-to-use DataFrame!
data.head()
myCols = [2,3,4,5,6,7,8,9,10]
df = data.iloc[:,myCols]

In [0]:
stats = df.describe().T
mu = stats['mean']
sigma = stats['std']

In [22]:
# zscore = x-mu/sigma
data_postZScore = (df-mu)/sigma # POWER OF NUMPY-> ELEMENT WISE SUBTRACTION and DIVISION between DataFrames
data_postZScore.head()
outliers_pos = data_postZScore[data_postZScore.smoothness_mean > 3]
outliers_neg = data_postZScore[data_postZScore.smoothness_mean< -3]
outliers_pos.head()
#data_postZScore['new_col'] = 42
#data_postZScore.head()

     radius_mean  texture_mean  ...  concave points_mean  symmetry_mean
3      -0.768233      0.253509  ...             1.450431       2.864862
105    -0.288671     -0.867151  ...             1.213593       0.413585
122     2.872465      0.211659  ...             3.924477       3.076431
504    -1.378895     -1.492582  ...             0.092799       2.066008

[4 rows x 9 columns]